/* ==========================================
  ================= IMPORTS ================= */
@import url("./style.css");




/* ==========================================
  ============== CSS VARIABLES ============= */
  :root {
    --bkg: #eff9ea;
    
    --cur-arrow: url("../images/ico/arrow.png");
    --cur-point: url("../images/ico/pointer.png");
  
    --color-primary: #232f49;
    --color-secondry: #1887b8;
    --color-accent: #26a69a;
    --color-light: #ffffff;
  
    --font-raleway: 'Raleway', sans-serif;
    --font-robofx: 'Roboto Flex', sans-serif;
  }

/* ==========================================
  ============ CONTACT PAGE ================= */

* {
  transition: all ease-in-out 300ms;
}

/* ----- FORM CONTAINER ---- */
.card-form {
  margin-top: 5%;
  padding: 0 5%;
  background-color: transparent !important;
  height: 90vh;
}

 /* ----- LINKS CONTAINER ---- */
.other-contact a img {
  margin-top: 5%;
}

/* ----- LINKS ---- */
.other-contact a img:hover,
.other-contact a img:active,
.other-contact a img::after {
  border-radius: 15%;
  transition: all ease-in-out 300ms;
  background-color: var(--color-ligth);
  box-shadow: 
    inset 0 0 5px 0px rgba(0, 0, 0, 0.437),
     0 0 15px 0px rgba(255, 252, 252, 0.641);
  transform: rotate(5deg) !important;
  cursor: var(--cur-point), auto !important;
}

 /* ----- SEND FORM BUTTON ---- */
#enviar-form {
  background-color: var(--color-secondry) !important;
}

#enviar-form:hover,
#enviar-form:active {
  background-color: var(--color-accent) !important;
  color: rgba(white) !important;
}




/* ==========================================
  ============== INPUTS & LABELS ============= */
  /* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */
/* label color */
.input-field label {
  color: var(--color-secondry);
}


.prefix {
  color: var(--color-primary);
}

/* label focus color */
.input-field input[type="text"]:focus + label {
  color: var(--color-secondry);
}




/* icon prefix focus color */
.input-field .prefix.active {
  color: var(--color-secondry);
}


.link {
  color: var(--color-secondry) !important;
}
