

 /* ==========================================
  ================= IMPORTS ================= */




 /* ==========================================
  ============== CSS VARIABLES ============= */
:root {
  --bkg: #eff9ea;
  --color-primary: #273e41;
  --color-secondry: #1887b8;
  --color-btn: #1e88e5;
  --color-info: #1887b8;
  --color-dark: #ffffff;
  --color-light: #ffffff;
}



 /* ==========================================
  ============== BODY ============= */
body {
  background: var(--bkg);
}

* {
  cursor: url("../images/ico/icons8-blue-pointer-50.png"), auto !important;
}

footer.page-footer {
  margin: 10% 0 0 0;
}



 /* ==========================================
  ============== NAV ============= */
.nav * {
  margin: 0;
}

.nav {
  padding: auto;
  background-color: transparent;
}

.sidebar {
  background-color: var(--color-light);
}

.sidebar li a {
  color: var(--color-btn);
}




/* ==========================================
  ============== MATERIALIZE ============= */
  /* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com*/

.icon-block {
  padding: 0 15px;
}

.icon-block .material-icons {
  font-size: inherit;
}
/* ========================================= */





 /* ==========================================
  ============== HERO ============= */
.pic-container {
  display: flex;
  align-items: start;
  justify-content: center;
}

.profile-pic {
  margin-top: 70px;
  width: 200px;
  height: 200px;
  object-fit: cover;
  object-position: center center;
  border-radius: 60% 80% 100% 40% / 100% 70% 80% 50%;
  box-shadow: 2px 10px 20px 1px rgba(0, 0, 0, 0.583);
}

.hero {
  padding: 1px;
}

.title {
  font-size: 100px;
  margin-top: 40px;
  margin-bottom: 30px;
}

.link {
  color: var(--color-btn);
}

.btn-contact {
  background-color: var(--color-btn);
}

.btn-contact:hover {
  background-color: var(--color-primary);
}




 /* ==========================================
  ============== FLOAT BUTTON ============= */
.oculto {
  display: none;
  background-color:  var(--color-btn);
}
